@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body.login-page {
  background-color: #0d001a;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

.login-page .login-container {
  background-color: rgba(255, 255, 255, 0.03);
  padding: 40px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 255, 200, 0.05);
  text-align: center;
}

.login-page .login-container .logo {
  width: 40px;
  height: 40px;
  margin: 0 auto 30px;
  background-color: #999;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #000;
}

.login-page .login-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #1c0e2d;
  color: #fff;
}

.login-page .login-container input::placeholder {
  color: #aaa;
}

.login-page .login-container .forgot {
  font-size: 12px;
  color: #00ffd5;
  display: block;
  margin-bottom: 20px;
  text-align: left;
}

.login-page .login-container button {
  background-color: #00c7a1;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.login-page .login-container button:hover {
  background-color: #00e0b0;
}
